* {
    font-family: 'impact', sans-serif;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container p {
    font-size: 30px;
    margin-top: 8px;
}
#container img {
    cursor: pointer;
    transition: 0.1s;
}
#container img:hover {
    scale: 1.05;
}