@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
:root {
	--content-color: white;
	--accent-color: rgb(124, 17, 8);
	--button-border-color: rgb(184, 184, 184);
	--background-color: rgb(185, 188, 189);
	--text-color-content: black;
	--text-color-accent: white;
	--link-color: rgb(0, 0, 238);
	--wallpaper-color: rgb(209, 105, 82);
}
::-moz-selection { /* Code for Firefox */
	color: var(--content-color);
	background-color: var(--accent-color);
}
::selection {
	color: var(--content-color);
	background-color: var(--accent-color);
}
* {
	overflow: hidden;
    cursor: url('../media/cursors/normal.cur'), auto;
    font-family: "Jersey 10", sans-serif;
  	font-weight: 400;
	font-style: normal;
	color: var(--text-color-content);
}
a {
    cursor: url('../media/cursors/pointer.cur'), pointer !important;
	text-decoration: none !important;
	color: var(--link-color);
}
p {
	margin: 0;
	color: var(--text-color-content);
}
h1 {
	margin: 0;
	color: var(--text-color-content);
}
h2 {
	margin: 0;
	color: var(--text-color-content);
}
h3 {
	margin: 0;
	color: var(--text-color-content);
}
body {
	background-color: var(--wallpaper-color);
	margin: 0;
	padding: 0;
	overflow: hidden;

}
html {
	cursor: url('../media/cursors/normal.cur'), auto;
	height: 100%;
	width: 100%;
}
button {
	border-color: var(--button-border-color);
	border-width: 2px;
	background-color: var(--background-color);
	border-radius: 0;
	color: var(--text-color-content);
	user-select: none;
}
iframe {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	border: none;
}
.hidden_audio {
	display: none;
}
/* WINDOWS */
.window_background {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--background-color);
	position: absolute;
	top: 100px;
	left: 100px;
	display: none;
	padding: 4px;
}
.window_content {
	background-color: var(--content-color);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	padding: 4px;
	width: 100px;
	margin-left: 0;
	margin-top: 0;
}
.window_title_bar {
	background-color: var(--accent-color);
	color: var(--text-color-accent);
	height: 30px;
	padding-left: 8px;
	display: inline-block;
	line-height: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	cursor: url('../media/cursors/move.cur'), auto;
	user-select: none;
}
.button_close {
	background-color: var(--background-color);
	color: var(--text-color-content);
	width: 24px;
	height: 24px;
	display: inline-block;
	float: right;
	margin-top: 3px;
	margin-right: 3px;
	line-height: 24px;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* TERMINAL */
#terminal_background {
	background-color: black;
	width: 100%;
	height: 100%;
	color: #37ff00;
	position: absolute;
	font-size: 16px;
	padding-left: 8px;
	padding-top: 8px;
	z-index: 9998;
	font-family: 'Courier New', Courier, monospace;
	user-select: none;
}
/* TASKBAR */
#taskbar{
	background-color: var(--background-color);
	height: 40px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	display: flex;
}
.button_start{
	width: 80px;
	height: 34px;
	display: inline-block;
	margin: 3px;
	background-color: var(--background-color);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	border-width: 1px;
	font-size: 20px;
}
.button_app_opened {
	width: 180px;
	height: 34px;
	display: none;
	margin: 3px;
	background-color: var(--background-color);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	border-width: 1px;
	font-size: 20px;
}
#file_list_taskbar {
	display: inline-block;
}
#program_loader_taskbar {
	display: inline-block;
}
#taskbar_date {
	position: fixed;
	right: 0;
	height: 40px;
	padding: 10px;
	font-size: 20px;
	padding-top: 0;
	background-color: var(--background-color);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	user-select: none;
}
/* START MENU */
#start_menu_background{
	background-color: var(--background-color);
	width: 316px;
	height: 260px;
	display: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	bottom: 0;
	position: fixed;
	margin-bottom: 44px;
}
#start_menu_window_content {
	background-color: var(--content-color);
	width: 308px;
	height: 248px;
	margin-top: 4px;
	margin-left: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	padding-top: 4px;
}
#profile_info{
	height: 100px;
	width: 300px;
	background-color: var(--accent-color);
	margin-left: 4px;
	display: inline-block;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#profile_picture{
	display: inline-block;
	width: 92px;
	margin-top: 4px;
	margin-left: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#profile_text {
	display: inline-block;
	color: var(--text-color-accent);
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 42px;
}
#profile_logged_text {
	font-size: 18px;
	margin-bottom: 0;
	color: var(--text-color-accent);
}
#profile_idiot_text {
	margin-bottom: 0;
	color: var(--text-color-accent);
}
#list_of_programs_background {
	background-color: var(--background-color);
	height: 102px;
	width: 300px;
	margin-left: 4px;
}
.list_of_programs_button {
	margin-left: 2px;
	margin-top: 2px;
	width: 296px;
	height: 48px;
	font-size: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#start_menu_about_button {
	margin-left: 4px;
	margin-top: 4px;
	height: 34px;
	width: 60px;
	font-size: 20px;
}
/* START MENU ABOUT WINDOW */
#about_start_menu_background {
	height: 396px;
	width: 440px;
	top: 360px;
}
#about_start_menu_title_bar {
	width: 432px;
}
#about_start_menu_content {
	font-size: 20px;
	width: 432px;
	height: 354px;
}
#about_start_menu_header {
	line-height: 1;
}
/* FILE LIST */
#file_list_background {
	background-color: var(--background-color);
	width: 200px;
	height: 150px;
	display: inline-block;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 60px;
	left: 60px;
}
.file_list_title_bar {
	background-color: var(--accent-color);
	color: var(--text-color-accent);
	width: 184px;
	height: 30px;
	padding-left: 8px;
	display: inline-block;
	line-height: 30px;
	margin-left: 4px;
	margin-top: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	cursor: url('../media/cursors/move.cur'), auto;
	user-select: none;
}
#file_list_content {
	font-size: 20px;
	padding-left: 4px;
	padding-top: 4px;
	background-color: var(--content-color);
	width: 188px;
	height: 104px;
	margin-left: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.file_list_button {
	width: 184px;
	height: 26px;
	display: flex;
	border-radius: 0;
	background-color: var(--background-color);
	text-align: left;
	font-size: 18px;
	align-items: center;
	gap: 4px;
	margin-bottom: 4px;
}
.file_list_icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
/* PROGRAM LOADER */
#program_loader_background {
	background-color: var(--background-color);
	width: 200px;
	height: 290px;
	display: inline-block;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 200px;
	left: 350px;
}
#program_loader_content {
	font-size: 20px;
	padding-left: 4px;
	padding-top: 4px;
	background-color: var(--content-color);
	width: 188px;
	height: 244px;
	margin-left: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* INTERNET EXPLODER */
#internet_exploder_window_background {
	width: 912px;
	height: 592px;
}
#internet_exploder_title_bar {
	width: 904px;
}
#internet_exploder_window_content {
	width: 904px;
	height: 550px;
}
#explode_da_internet_map {
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#explode_da_internet_button {
	border-radius: 0;
	height: 50px;
	width: 200px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-right: auto;
	margin-top: 20px;
	margin-left: 350px;
	font-size: 20px;
}
#explode_da_internet_button:hover {
	border-radius: 0;
	height: 50px;
	width: 200px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--accent-color);
	color: rgb(255, 255, 0);
}
#explode_da_internet_button:disabled {
	pointer-events: none;
}
/* INTERNET EXPLODER WARNING */
.explode_da_internet_warning_window_background {
	background-color: var(--background-color);
	width: 400px;
	height: 150px;
	display: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 100px;
	left: 100px;
}
.internet_exploder_warning_title_bar {
	background-color: var(--accent-color);
	color: var(--text-color-accent);
	width: 384px;
	height: 30px;
	padding-left: 8px;
	display: inline-block;
	line-height: 30px;
	margin-left: 4px;
	margin-top: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	cursor: url('../media/cursors/move.cur'), auto;
	user-select: none;
}
.internet_exploder_window_warning_content {
	background-color: var(--content-color);
	width: 392px;
	height: 108px;
	margin-left: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.warning_button_yes {
	border-radius: 0;
	height: 30px;
	width: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-right: auto;
	background-color: var(--background-color);
	margin-left: 10px;
}
.warning_button_no {
	border-radius: 0;
	height: 30px;
	width: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-right: auto;
	background-color: var(--background-color);
	margin-left: 168px;
}
.warning_text {
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
}
/* INTERNET HAS BEEN EXPLODED */
#internet_has_been_exploded_button_ok {
	border-radius: 0;
	height: 30px;
	width: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-right: auto;
	background-color: var(--background-color);
	margin-left: 146px;
}
/* RED SCREEN OF DEATH */
#red_screen_of_death {
	padding-top: 100px;
	padding-left: 100px;
	font-size: 80px;
	display: none;
	color: white;
	background-color: var(--accent-color);
	width:100%;
	height:100vh;
}
#red_screen_of_death_paragraph {
	font-size: 60px;
}
#red_screen_of_death_button {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-top: 40px;
	font-size: 40px;
	text-align: center;
	height: 80px;
	width: 160px;
	background-color: rgb(185, 188, 189);
}
#red_screen_of_death_button:active {
	background-color: var(--accent-color);
}
#red_screen_of_death_button:disabled {
	pointer-events: none;
}
/* RED SCREEN OF DEATH RICK ROLL */
#red_screen_of_death_rick_roll_background {
	height: 342px;
	width: 408px;
}
#red_screen_of_death_rick_roll_content {
	width: 400px;
	height: 300px;
}
#red_screen_of_death_rick_roll_title_bar {
	width: 400px;
}
#red_screen_of_death_rick_roll_video {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* SOCIAL MEDIA LIST */
.social_media_list_background {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--background-color);
	position: absolute;
	height: 560px;
	width: 450px;
	top: 100px;
	left: 100px;
	display: none;
}
.social_media_list_title_bar {
	background-color: var(--accent-color);
	color: var(--text-color-accent);
	width: 434px;
	height: 30px;
	padding-left: 8px;
	display: inline-block;
	line-height: 30px;
	margin-left: 4px;
	margin-top: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	cursor: url('../media/cursors/move.cur'), auto;
	user-select: none;
}
.social_media_list_toolbar {
	margin-left: 4px;
	width: 434px;
	height: 20px;
}
.social_media_list_toolbar_button {
	background: transparent;
}
.social_media_list_content {
	font-size: 20px;
	padding-left: 4px;
	padding-top: 4px;
	background-color: var(--content-color);
	width: 438px;
	height: 466px;
	margin-left: 4px;
	margin-top: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.social_media_list_file_destination {
	margin-left: 4px;
	margin-top: 4px;
	width: 438px;
	height: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--background-color);
	padding-left: 4px;
}
/* WRITERPAD 5000 HELP */
#writerpad_5000_help_background {
	width: 400px;
	height: 150px;
}
#writerpad_5000_help_title_bar {
	width: 392px;
}
#writerpad_5000_help_content {
	padding-top: 20px;
	width: 392px;
	height: 92px;
	text-align: center;
}
.writerpad_5000_help_paragraph {
	font-size: 26px;
}
/* IMAGE VIEWER 6000 */
#do_not_open_image_background {
	height: 706px;
	width: 968px;
}
#do_not_open_image_title_bar {
	width: 960px;
}
#do_not_open_image_content {
	width: 960px;
	height: 640px;
}
#do_not_open_image_image {
	width: 960px;
	height: 640px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#do_not_open_image_file_destination  {
	margin-top: 4px;
	width: 964px;
	height: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--background-color);
	padding-left: 4px;
}
/* SCP BROADCAST */
#scp_broadcast_background {
	height: 522px;
	width: 648px;
}
#scp_broadcast_title_bar {
	width: 640px;
}
#scp_broadcast_content {
	width: 640px;
	height: 480px;
}
#scp_broadcast_video {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* DARK SCREEN */
#dark_screen {
	padding-top: 100px;
	padding-left: 100px;
	font-size: 80px;
	position: absolute;
	display: none;
	z-index: 9998;
	color: white;
	background-color: black;
	width:100%;
	height:100vh;
}
#broken_glass {
	display: none;
	z-index: 9999;
	position: absolute;
}
/* SYSTEM CUSTOMIZATION */
#system_customization_background {
	width: 232px;
	height: 162px;
}
#system_customization_title_bar {
	width: 224px;
}
#system_customization_content {
	font-size: 20px;
	width: 224px;
	height: 120px;
}
.system_customization_button {
	width: 224px;
	height: 30px;
	display: flex;
	border-radius: 0;
	text-align: left;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	margin-bottom: 4px;
}
/* SYSTEM CUSTOMIZATION ADVANCED */
#system_customization_advanced_background {
	height: 600px;
	width: 160px;
}
#system_customization_advanced_content {
	height: 558px;
	width: 152px;
	font-size: 20px;
	overflow-y: scroll;
}
#system_customization_advanced_title_bar {
	width: 152px;
}
.system_customization_advanced_button {
	height: 30px;
	width: 152px;
	display: flex;
	border-radius: 0;
	text-align: left;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	margin-bottom: 4px;
}
/* KEYBOARD */
#keyboard_background {
	height: 392px;
	width: 808px;
}
#keyboard_title_bar {
	width: 800px;
}
#keyboard_content {
	font-size: 20px;
	padding-left: 4px;
	padding-top: 4px;
	width: 800px;
	height: 350px;
	display: flex;
}
.keyboard_white_key {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	color: #151515;
	width: 100px;
	height: 350px;
	background-color: #e3e3e3;
	border-color: black;
	font-size: 70px;
	padding-top: 260px;
	user-select: none;
	cursor: url('../media/cursors/pointer.cur'), pointer !important;
}
.keyboard_black_key {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	color: white;
	width: 60px;
	height: 220px;
	background-color: #151515;
	border-color: black;
	font-size: 30px;
	vertical-align: top;
	margin-left: -30px;
	margin-right: -30px;
	z-index: 2;
	position: relative;
	padding-top: 120px;
	user-select: none;
	cursor: url('../media/cursors/pointer.cur'), pointer !important;
}
/* CHAT */
#chat_background {
	width: 608px;
	height: 842px;
}
#chat_title_bar {
	width: 600px;
}
#chat_content {
	font-size: 20px;
	width: 600px;
	height: 800px;
}
/* BROWSER */
#browser_background {
	width: 800px;
	height: 858px;
}
#browser_title_bar {
	width: 792px;
}
#browser_toolbar {
	margin-bottom: 4px;
	width: 792px;
	height: 20px;
}
#browser_toolbar button {
	background: transparent;
}
#website_address_input {
	width: 200px;
}
#browser_error_message {
	display: none;
}
/* EMULATOR */
#emulator_background {
	width: 1000px;
	height: 834px;
	text-align: center;
}
#emulator_title_bar {
	width: 992px;
	text-align: left;
}
#turn_on_vm_button {
	width: 200px;
	height: 40px;
	background-color: var(--content-color);
	font-size: 20px;
}
#emulator {
	display: none;
}
/* SYSTEM INFORMATION */
#information_background {
	width: 232px;
	height: 212px;
}
#information_title_bar {
	width: 224px;
}
#information_content {
	font-size: 20px;
	width: 224px;
	height: 170px;
}
/* CONTEXT MENU */
#context_menu_background {
	position: fixed;
	z-index: 2147483647; /* max int */
	width: 180px;
	height: 184px;
}
#context_menu_content {
	font-size: 20px;
	width: 172px;
	height: 176px;
}
.context_menu_button {
	width: 172px;
	height: 26px;
	display: flex;
	border-radius: 0;
	background-color: var(--background-color);
	text-align: left;
	font-size: 18px;
	align-items: center;
	gap: 4px;
	margin-bottom: 4px;
}
/* YOU ARE AN IDIOT */
.you_are_an_idiot {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-color: var(--background-color);
	position: absolute;
	top: 100px;
	left: 100px;
	padding: 4px;
	height: 366px;
	width: 438px;
	user-select: none;
}
.you_are_an_idiot_content {
	background-color: var(--content-color);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	padding: 4px;
	margin-left: 0;
	margin-top: 0;
	height: 323px;
	width: 430px;
}
.you_are_an_idiot_title_bar {
	background-color: var(--accent-color);
	color: var(--text-color-accent);
	height: 30px;
	padding-left: 8px;
	display: inline-block;
	line-height: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	cursor: url('../media/cursors/move.cur'), auto;
	user-select: none;
	width: 430px;
}