@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Smokum', sans-serif;

}
audio {
    display: none;
}
body {
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: rgb(255, 255, 255, 0.9);
    overflow: hidden;
}
h1 {
    font-size: 60px;
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    color: white;
}
p {
    text-align: center;
}
#revolver_container {
    position: absolute;
    right: 20px;
    bottom: 30px;
}
#revolver {
    transform: scaleX(-1);
}
#shot_button {
    position: absolute;
    left: 300px;
    bottom: 80px;
}
button {
    border-color: white;
    color: white;
    background: none;
    height: 60px;
    width: 180px;
    font-size: 50px;
    cursor: pointer;
}
.video {
    position: absolute;
    bottom: 300px;
    left: 50px;
}
#won {
    display: none;
}
#lost {
    display: none;
}

@keyframes shot {
    0% { transform: rotate(0deg) scaleX(-1); }
    20% { transform: rotate(10deg) scaleX(-1); }
    40% { transform: rotate(-10deg) scaleX(-1); }
    60% { transform: rotate(5deg) scaleX(-1); }
    80% { transform: rotate(-5deg) scaleX(-1); }
    100% { transform: rotate(0deg) scaleX(-1); }
}