@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Pinyon+Script&display=swap');
* {
    font-family: "Eagle Lake", serif;
    user-select: none;
    color: rgba(14, 13, 13, 0.9);
    transition: opacity 0.8s ease;
    cursor: url('../media/cursors/secret/normal.cur'), auto;
}
body {
    background-image: url("../media/pictures/secret/paper.jpg");
    ackground-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
h1 {
    font-family: "Pinyon Script", cursive;
    font-size: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    font-family: "Pinyon Script", cursive;
    font-size: 80px;
    margin-top: 20px;
}
p {
    font-size: 40px;
    opacity: 0;
    margin-bottom: 20px;
}
button {
    height: 60px;
    width: 180px;
    font-size: 30px;
    background-color: transparent;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    border-color: black;
}
.hidden_audio {
    display: none;
}