@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Zalando Sans", sans-serif;
    text-align: center;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-top: 20px;
}
p {
    margin-top: 20px;
}
ul {
    margin-top: 20px;
}
li {
    margin-bottom: 8px;
    max-width: 75ch;
    text-align: left;
    margin-left: 20px;
}